<?xml version="1.0"?>

<robot name="voxel_standalone" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- include the voxel macro -->
  <xacro:include filename="$(find voxel)/description/voxel.urdf.xacro"/>

  <!-- use the voxel macro to create a camera with name "voxel" -->
  <voxel name="voxel"/>
</robot>
