<?xml version="1.0"?>

<launch>
  <!-- start the left camera -->
  <node pkg="gscam" type="gscam" name="left" ns="stereo">
    <param name="gscam_config" value="v4l2src device=/dev/video0 ! video/x-raw-yuv,framerate=60/1,width=1280,height=720 ! ffmpegcolorspace" />
    <param name="camera_name" value="voxel_left" />
    <param name="frame_id" value="voxel_left_optical_frame" />
    <remap from="camera/image_raw" to="left/image_raw" />
    <remap from="set_camera_info" to="left/set_camera_info" />
  </node>

  <!-- start the right camera -->
  <node pkg="gscam" type="gscam" name="right" ns="stereo">
    <param name="gscam_config" value="v4l2src device=/dev/video1 ! video/x-raw-yuv,framerate=60/1,width=1280,height=720 ! ffmpegcolorspace" />
    <param name="camera_name" value="voxel_right" />
    <param name="frame_id" value="voxel_right_optical_frame" />
    <remap from="camera/image_raw" to="right/image_raw" />
    <remap from="set_camera_info" to="right/set_camera_info" />
  </node>
</launch>
